:root {
  --color--primario: #1a2b49;
  --texto--negro: #0c0a09;
  --text-light: #78716c;
  --blanco: #ffffff;
  --max-width: 1200px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Poppins, sans-serif;
}

.top-bar{
    background:#1a2b49;
    padding:12px 0;
}

.top-bar__container{
    max-width:1400px;
    margin:auto;
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.top-bar__left{
    display:flex;
    align-items:center;
}

.logo a{
    color:white;
    text-decoration:none;
    font-size:1.5rem;
    font-weight:bold;
}

.nav__links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav__links a{
    color:white;
    text-decoration:none;
    font-size:0.9rem;
    transition:color 0.3s ease;
}

.nav__links a:hover{
    color:#ffb700;
}



.header{
    background:
    url(../img/encabezado.jpeg) center/cover;
    min-height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    color:#fff;
}

.header__overlay{
    position:absolute;
    inset:0;
    background:rgba(26,43,73,.15);
    z-index:1;
}

.header__content{
    position:relative;
    z-index:2;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
    text-align:center;
}


.header__subtitle{
    font-size:2rem;
    font-weight:bold;
    text-shadow:2px 2px 4px rgba(0,0,0,.5);
}

.search-form{
    display:flex;
    gap:1rem;
    background:#fff;
    padding:1.5rem;
    border-radius:8px;
    flex-wrap:wrap;
    justify-content:center;
}

.search-field{
    display:flex;
    flex-direction:column;
}

.search-field label{
    font-size:0.85rem;
    color:#333;
    margin-bottom:0.5rem;
    font-weight:500;
}

.search-input{
    border:1px solid #d9d9d9;
    padding:.7rem;
    border-radius:4px;
}

.search-btn{
    background:#003580;
    color:#fff;
    border:none;
    padding:.8rem 2rem;
    border-radius:4px;
    cursor:pointer;
    align-self:flex-end;
}

.search-btn:hover{
    background:#002147;
}



.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}



.section__header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--texto--negro);
}


.room__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}


.room__card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}


.room__card__image img{
  width: 100%;
  height: 250px;     
  object-fit: cover; 
  object-position: center;
  display: block;

}


.room__card__details {
  padding: 1rem;
}

.room__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--texto--negro);
}

.room__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem; 
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--blanco);
  background-color: var(--color--primario);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #ffb700 ;
}


@media (width > 768px) {
   .room__grid {
    grid-template-columns: repeat(3, 1fr);
  }

}